BFF_NODE_ENV=development
BFF_PORT=3000
BFF_API_PYTHON_BASE_URL=http://localhost:8000/api/v1
BFF_CORS_ORIGIN=http://localhost:5173
BFF_GLOBAL_API_KEY=change-me-global-key
APP_TIMEZONE=America/Sao_Paulo
