# DATABASE
DB_NAME=condojet
DB_USER=condojet
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=admcondojet
APP_TIMEZONE=America/Sao_Paulo

# API PYTHON
API_APP_NAME="CondoJET API"
API_APP_ENV=development
API_APP_PORT=8000
API_DATABASE_URL=postgresql+psycopg://condojet:change-me@localhost:5432/condojet
API_DATABASE_URL_DOCKER=postgresql+psycopg://condojet:change-me@host.docker.internal:5432/condojet
API_JWT_SECRET=change-me
API_JWT_EXPIRES_MINUTES=60
API_CORS_ORIGINS=http://localhost:5173,http://localhost:3000
API_GLOBAL_API_KEY=change-me-global-key
API_GLOBAL_ADMIN_NAME=Admin Global CondoJET
API_GLOBAL_ADMIN_EMAIL=admin.global@condojet.app
API_GLOBAL_ADMIN_PASSWORD=change-me-global-admin

# BACKEND BFF
BFF_NODE_ENV=development
BFF_PORT=3000
BFF_API_PYTHON_BASE_URL=http://localhost:8000/api/v1
BFF_CORS_ORIGIN=http://localhost:5173,http://192.168.1.9:5173
BFF_GLOBAL_API_KEY=change-me-global-key

# FRONTEND WEB
WEB_VITE_BACKEND_URL=http://localhost:3000/api/v1
WEB_VITE_APP_TIMEZONE=America/Sao_Paulo
